@model List<CarCartViewModel>
@{
    ViewData["Title"] = "Home Page";
    string carImagePlaceHolder = @"https://www.seat.com.mt/content/dam/public/seat-website/carworlds/compare/default-image/ghost.png";
}
@if (Context.Request.Cookies.ContainsKey("name"))
{
    <p>    @Context.Request.Cookies["name"]</p>
    <p>    @ViewBag.NameAuthor</p>
}
else
{

    <p>Not Cookies</p>
}
<div class="container">
    <div class="row">
        <div class="col-3">
            <ul class="nav flex-column">
                @foreach (var cat in ViewBag.Categories)
                {
                    @if (ViewBag.ActiveCategoryId == cat.Id )
                    {
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-current="page" >@cat.Name</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index" asp-route-categoryId=@cat.Id>@cat.Name</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-9">

            @if (Model.Any())
            {

                <div class="row">
                    @foreach (var Car in Model)
                    {
                        <partial name="_CardCarPartial" model="Car" />
                    }
                </div>

            }
            else
            {
                <div class="row">
                    <h3>Cars was not found...</h3>
                </div>
            }
        </div>
    </div>
</div>
